---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()} Zhuoling
    </div>
    <div class="inline opacity-75">
        <!-- Thanks for using this template. Please keep this line to support my work :) -->
        <a
            href="https://github.com/charlieJ107"
            target="_blank"
            class="font-bold">charlieJ107</a
        > Powered by
        <a href="https://astro.build" target="_blank" class="font-bold">Astro</a
        >
    </div>
</footer>
<style></style>
